# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# --- Python ---
venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/

# --- VSCode ---
.vscode/
.history/

# --- Logs ---
*.log

# --- Otros ---
.env
